{% extends "layout.html" %}

{% block heading %}
    Notes
{% endblock %}

{% block body %}
    {% for section in sections %}
    <h4>{{ section }}</h4>
    <ul>
        {% for note in note_list[sections.index(section)] %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
    <h4>Unsectioned Notes</h4>
    <ul>
        {% for note in unsorted_list %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>
    
    <p>new notes go here</p>

    <form action="{{ url_for('notes') }}" method="POST" class="form-group">
        <div>
            <input type="text" name="note" placeholder="Enter your note">
        </div>
        <div>
            <input name="section" placeholder="section" list="sections">
            <datalist id="sections">
                {% for section in sections %}
                    <option value="{{ section }}">
                {% endfor %}
            </datalist>
        </div>
        <div class="basic_padding">
            <button type="button" class="btn btn-lg btn-info">Submit</button>
        </div>
    </form> 
    
    <a href="{{ url_for('index') }}">Return home</a>

{% endblock %}